* {
  margin: 0px;
}
body {
  line-height: 1.6;
  font-family: sans-serif;
  color: #4d4e53;
}
nav {
  margin-left: 0px;
  display: block;
}
#navbar {
  color: #4d4e53;
  border-top: 1 px;
  list-style: none;
  width: 100%;
  position: fixed;
  min-width: 260px;
  width: 300px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.nav-link {
  display: block;
  padding: 10px, 25px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
#navbar,
li {
  list-style: none;
  padding: 20px, 10px;
  margin-top: 10px;
}
#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 25px;
  font-size: 15px;
}

header {
  padding-bottom: 10px;
  font-size: 30px;
  color: black;
}
p {
  margin: 10px, 0;
  padding-bottom: 15px;
  padding-top: 10px;
}
code {
  background-color: rgb(207, 203, 203);
  padding: 12px 20px;
  margin: 10px;
  display: block;
}
#last {
  list-style: disc;
}
